#container {
  display: flex;
  flex-direction: column;
}

#pulls {
  flex-grow: 100;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  &::after {
    content: '.';
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  }
}

.kanban {
  table-layout: fixed;
  width: 100%;
  font-weight: 200;

  &.kanban-data {
    position: absolute;
    bottom: 0;

    .kanban-column { padding: 0 0 4px 0; }
  }

  td { vertical-align: bottom; }

  tfoot th {
    text-align: left;
    padding: 0;
    line-height: normal;
    font-weight: 200;
    vertical-align: top;
    color: #909090;
    font-size: 13px;
    border-top: 1px solid #202020;

    div {
      white-space: nowrap;
      margin: 12px 3px 0;
    }

    .kanban-queue-count {
      display: inline-block;
      border-radius: 1em;
      border: 1px solid;
      min-width: 1.33em;
      height: 1.33em;
      line-height: 1.33em;
      text-align: center;
      border-color: #404040;
      margin-left: 0.25em;
    }

    .small {
      display: block;
      margin: 0.75em 0.75em 0;
      font-size: 0.66em;
      text-align: left;
      line-height: 1.15em;

      u {
        text-decoration: none;
        background-color: #FFB;
      }
    }
  }

  td.alt, th.alt { background: #efefef; }

  ol, ul {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
  }

  li {
    position: relative;
    list-style-type: none;
    display: block;
    margin: 10px 3px;
    line-height: normal;

    a {
      display: block;
      padding: 0;
      text-decoration: none;
      line-height: 1em;
    }

    &.hover {
      border-color: #ed8 !important;
      background-color: #ffffcf !important;
    }

    .pull-request-title {
      display: block;
      font-size: 13px;
      max-height: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #909090;
      margin-bottom: 1px;
    }

    .label.pull-request-number {
      padding: 1px 2px;
      font-size: 10.844px;
      line-height: 13px;
      color: black;
    }

    .pull-request-avatar {
      > img {
        margin-left: 2px;
        width: 14px;
        height: 14px;
      }
    }

  }
}
