.on-staging-pr {
  padding: 10px;
  a {
    display: inline;
    padding-left: 10px;
    font-size: 1.33em;
    font-weight: 200;
  }
}

.staging-pr-project {
  text-align: right;
}

.up-next-pr {
  padding: 10px;
  a {
    display: inline;
    padding-left: 10px;
    font-size: 1.33em;
    font-weight: 200;
  }
}

.up-next-project {
  text-align: right;
}

table {
  width: 100%;
}
