<h1>Fires</h1>

<table id="fires">
  <%= render "fires" %>
</table>

<%= content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    var $fires = $('#fires');
    
    new Refresher()
      .container('#container')
      .interval(30 * 1000) // 30 seconds
      .callback(function() {
        $.get('/itsm/issues').done(function(html) {
          $fires.html(html);
        });
      }).render();
  });
</script>
<% end %>
