<% if @network_error %>
  <tr><td colspan="2">
    <h3>Connection Error</h3>
    <p>Houston was unable to connect to ecphhelper.</p>
  </td></tr>
<% else %>
  <% @issues.each do |issue| %>
    <tr class="fire">
      <td style="padding: 0.25em 1em 0.25em 0;">
        <%= link_to issue.summary, issue.url, target: "_blank" %>
      </td>
      <td style="padding: 0.25em 0 0.25em 1em; color: #292929;">
        <% if issue.assigned_to_user %>
          <%= avatar_for(issue.assigned_to_user, size: 36) %>
          &nbsp;&nbsp;<%= issue.assigned_to_user.name %>
        <% else %>
          <%= issue.assigned_to_email %>
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>
